# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Virtualenv
venv/
ENV/
env/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Django Migrations
*/migrations/*

# Secrets
.env
*.pem

# Static and media files
media/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Caches
*.mo
**/__pycache__
*.swp

KEBABAPIPANEL/db.sqlite3

*.sqlite3
KEBABAPIPANEL/db.sqlite3
KEBABAPIPANEL/db.sqlite3
*.sqlite3
KEBABAPIPANEL/celerybeat-schedule.bak
KEBABAPIPANEL/celerybeat-schedule.dat
KEBABAPIPANEL/celerybeat-schedule.dir
