<!DOCTYPE html>
<html>
<head>
    <title>Kebab List</title>
</head>
<body>
    <h1>Kebab List</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Opening Hours</th>
            <th>Actions</th>
        </tr>
        {% for kebab in kebabs %}
        <tr>
            <td>{{ kebab.name }}</td>
            <td>{{ kebab.status }}</td>
            <td>{{ kebab.opening_hours }}</td>
            <td>
                <a href="{% url 'kebab_edit' kebab.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
